@import url('package:google_fonts/google_fonts.dart');
@import url('package:google_fonts/google_fonts.dart');
body{
    background-color: antiquewhite;

}

 *{
    margin: 0;
    padding: 0;
 }
 nav{
    font-family:'ubuntu',sans-serif;
 }
 nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color:white;
 }

 .brand img{
    width: 44px;
 }