*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container{
    background-color: darkgray;
    min-height: 100vh;
    border-color: 10px solid black;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    display: flex;
    justify-content: space-between;
}

.image_container
,img{
    width: 300;
    height: 325;
}