* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    border: 10px solid black; /* Fixed border syntax */
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(5, 27, 49);
    text-transform: uppercase;
}

.top_section h4 {
    font-size: 30px;
    text-align: end;
}



.about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}



.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(5, 27, 49);
    text-transform: uppercase;
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: azure;
    margin: 0px auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1) ;
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: gray;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}


input , select ,textarea{
    padding: 6px 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 15px+;
}

input:focus{
    outline-color: red;
}
.button_container {
    display: flex;
    justify-content: flex-end;
}
/* button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
} */
 /* button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px; */
/* } */

 button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px; */
/* }
 button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px; */
/* }